@layer engine;

@layer engine {
    body {
        --background-color: white;
        --foreground-color: black;

        --important-foreground-color: var(--foreground-color);

        --highlight-foreground-color: var(--foreground-color);
        --highlight-background-color: color-mix(in srgb, var(--foreground-color) 5%, var(--background-color));

        --body-font-family: Georgia, serif;
        --label-font-family: Verdana, sans-serif;

        background-color: var(--background-color);
        color: var(--foreground-color);

        font-family: var(--body-font-family);

        margin: 0;
        min-height: 100vh;
    }
}
